#toptext {

    background-color: black;
    color: wheat;
    text-align: center;
    font-family: fantasy;
}

.titulo {

    color: rgb(0, 0, 0);
    font-size: 3.052rem;
    font-family: fantasy;
    text-align: center;
    background-color: rgb(86, 165, 165);
    width: 600px;
    height: 120px;
    
}

#buttons {
    text-align: center;
}

